<section>
            <ul>
                <li><a href="">Folow Us</a></li>
                <li><a href="">+44 8003 5535NN</a>
                <li>   
                    <img class="icon" src="./img/INSTA.png " alt=" ">
                    <img class="icon" src="./img/VIBER.png " alt=" ">
                    <img class="icon" src="./img/FB.png " alt=" ">
                </li>
            </ul>
        </section>