.header-container {
    width: 1440px;
    height: 131.5px;
    padding: 20px 140px;
    font-family: Roboto;

    .topbar {
        .main-title {
        font-size: 20px;
        }

        @include flexibleBetween();
        height: 62px;
        margin-top: -10px;
    
        .search {
            margin-right: 10px;
        }
        
        .top-btn {
            box-shadow: none;
            border: none;
            border-radius: 5px;
            background: white;
        }

        .top-btn:hover {
            box-shadow: 0 0 3px red;
        }

        .top-btn:focus {
            outline: none;
            border: none;
        }
    }      

    .navigation-items {
        font-size: 16px;
        @include flexibleCenter ();

        .page-links {
            margin: 0 40px;
        }
    }
}