<nav class="button-filter">
    <% filter.forEach(item => { %>
            <button class="categories <%= item.btnClass %>"><%= item.btmName %> <img src="./img/Rectangle.png"></button>
    <% });%>
        </nav>