
<section class="page4 none">  
    <% cards.map(card => { %>
            <section class="card bottom-margin">
                <section class="img-container">
                    <img class="img-size" src="<%= card.urlImg %>">
                    <section class="on-img">
                        <button class="btn-icon"><img src="./img/sharpe.jpg"></button>
                        <button class="btn-icon"><img src="./img/search.jpg"></button>
                    </section>
                </section>
                <h4 class="price-name-padding"><%= card.name %></h4>
                <h5 class="price-name-padding"><%= card.price %> <s><%= card.priceS %></s></h5>
            </section>
            <% }); %> 
        </section>