<% dropdown.forEach(list => { %>
        <ul class="ul-dropdown <%= list.className %>">
        <% list.lists.forEach(element => { %>
            <li><%= element %></li>
        <% }); %>
        </ul>
<% }); %>


