    <nav class="topbar">
            <section><img src="./img/geolocation.jpg"> <a href="">Minsk</a></section>
            <section><img src="./img/cassiopeia.jpg"></section>
            <section>
                <button class="top-btn search"><img src="./img/search.jpg"></button>
                <button class="top-btn"><img src="./img/sharpe.jpg"></button>
            </section>
        </nav>    