<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head/index.ejs') -%>
  <body>
    <%- include('./components/header/index.ejs') -%>
    <%- include('./components/main/index.ejs') -%>
    <%- include('./components/footer/index.ejs') -%>
  </body>
</html>